.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(142, 142, 255);
}

input {
    color: #2c2d2e;
    width: 50%;
    height: 30px;
    margin: 0 0 30px 0;
    padding: 0 12px;
    font-size: 15px;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 5px;
}

label p {
    margin: 0;
}

.form input,
.form select {
    display: block;
}

.form__btn-submit {
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(142, 142, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-checkbox {
    margin: 10px;
    display: block;
}

.error-span {
    margin-left: 20px;
}

.label-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

#checkbox {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

#checkbox:checked + .slider {
    background-color: #30c5ff;
}

#checkbox:checked + .slider {
    background-color: #30c5ff;
}

.slider.round {
    border-radius: 34px;
}

.slider.round {
    border-radius: 34px;
}

#checkbox:checked + .slider:before {
    transform: translateX(26px);
}

#checkbox:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round:before {
    border-radius: 50%;
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: '';
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
}